<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cartoonify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="text-monospace" style="background-color: black;color:white;">
<style type="text/css">
.subm {
  background-color: #17A2B8;
  border:none;
}
</style>
  <!-- Jumbotron -->
  
  <div class="jumbotron bg-dark text-light"  style="padding-left: 100px; background: url(static/cool-background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; ">
    <h1 class="display-2">Cartoonify</h1>
    <p class="lead">Create your cartoon avatar in seconds using our web portal</p>
  </div>
